/*-----------SELECTOR UNIVERAL-------------------*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*-----------HEADER + BARRAS DE NAVAEGACION-----------------------*/

.copy p {
    margin: 10px 10px 0px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80%;
}

header {
    background-color: #EAC926;
    width: 100vw;
    max-width: 100%;
    padding: 10px;
}

.navbar {
    margin: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar a {
    text-decoration: none;
    display: inline-block;
    color:#222222;
    margin: 0px 5px;
}

.busqueda {
    display: flex;
    flex-direction: row;
}
.busqueda i {
    background-color: #ebebeb;
    border-radius: 1px;
    padding: 1px;
    font-size: 10px;
}

/*-----------MENÚ HAMBURGUESA!!!-------------------*/
.burguer-menu {
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.burguer-menu i {
    background-color: #03264C;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    margin: auto;
}

/*-----------BANNER!-------------------*/
.banner {
    max-width: 100%;
    width: 100vw;
}

/*-----------MAIN SECTION - Basado en tus últimas búsquedas + Ofertas!!-------------------*/
body {
    background-color: #ebebeb;
}

section {
    padding: 10px;
}

.cada-producto {
    margin: 10px;
    background-color: white;
    text-align: center;
}

.informacion-productos {
    background-color: white;
    text-align: left;
    position: relative;
    border-top: solid 1px #ebebeb;
    padding: 0px 15px;
    align-items: center;
}

.precio-descuento {
    display: flex;
    align-items: center;
    justify-content: left;
}

.precio-descuento p {
    margin-right: 10px;
}

.informacion-productos p {
    margin-bottom: 10px;
}

.img-producto {
    width: 80%;
    max-width: 100%;
}

.titulares {
    font-size: 24px;
    color: #666;
    padding-left: 10px;
}

.precio {
    font-size: 18px;
}

.descuentos {
    font-size: 14px;
    color: #39b54a;
}

.nombre-producto {
    font-size: 16px;
    font-weight: bold;
    color:#666;
}

.camion i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: transform 2s;
   }


/*---------------FOOTER!-------------------*/
footer {
    text-align: center;
    background-color: #ebebeb;
    padding: 10px;
}

.cada-section {
    margin-bottom: 10px;
    line-height: 15px;
}

.cada-section h3 {
    font-size: 16px;
    margin: 0px;
    color:#666;
}

.cada-section i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 5px;
    transition: color 2s;
}

footer p {
    line-height: 18px;
    margin: 5px;
    color: #666;
}

.copyright {
    text-align: left;
}

/*-------------------ACÁ EMPIEZO A MODIFICAR EL REGISTER------------------------*/
.formulario-de-registro input[type="text"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-registro input[type="email"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-registro input[type="date"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-registro input[type="password"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-de-registro div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 300px;
}

.formulario-de-registro label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.register-clave input {
    margin-bottom: 15px;
}

.botones-register button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1259c3;
    color: white;
    font-size: 12px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.botones-register button:hover {
    background-color: #39b54a;
}

/*-------------------ACÁ EMPIEZO A MODIFICAR EL LOG-IN-----------------------*/
.formulario-de-login input[type="text"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-login input[type="password"] {
    border: none;
    height: 30px;
    border-radius: 5px;
}

.formulario-de-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-de-login div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 300px;
}

.formulario-de-login label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.botones-login button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1259c3;
    color: white;
    font-size: 12px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.botones-login button:hover {
    background-color: #39b54a;
}

/*-------------------ACÁ ARRANCAN LAS MEDIA QUERYS---------------------------*/

/*------SOLO VERSION MOBILE** HASTA 480PX-------------*/
@media (max-width: 480px) {
    .navbar {
        display: none;
    }

    .nombre-producto {
        display: none;
    }

    .header-logo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/*------A PARTIR DE TABLET** 481 EN ADELANTE-------------*/
@media (min-width: 481px) {
    .cada-producto {
        width: 320px;
        transition: all 0.5s;
    }

    .cada-producto:hover /*.cada-producto*/{ /*ESTO LO AGREGO CUANDO QUIERO MODIFICAR OTRO SELECTOR QUE NO ES AL QUE LE PASE EL MOUSE POR ENCIMA*/
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 330px;
    }

    .nombre-producto {
        /* position: relative;
        bottom: 40px;
        z-index: -1;
        transition: all 1s; */
        position: relative;
        bottom: 40px;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s ease-in;
    }

    .cada-producto:hover .nombre-producto {
        position: relative;
        bottom: 0px;
        z-index: 1;
        opacity: 1;
    }

    .informacion-productos {
        transition: height 0.5s;
        height: 50px;
        transition: all 0.5s ease-in;
    }

    .cada-producto:hover .informacion-productos { 
        height: 95px;
    }

    .burguer-menu {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .right-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .camion:hover i {
        transform: rotate(-90deg);
    }

    .cada-section i:hover {
        color: #39b54a;
    }
}

/*------SOLO TABLET ENTRE 481 Y 1024**-----------------*/
@media (min-width: 482px) and (max-width: 1024px) {
    .section-visita {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .section-ofertas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/*------A PARTIR DE DESKTOP** 1025 EN ADELANTE-------------*/
@media (min-width: 1025px) {
    .section-visita {
        display: flex;
        justify-content: space-around;
    }

    .section-ofertas {
        display: flex;
        justify-content: space-around;
    }

    .div-footer {
        display: flex;
        justify-content: space-around;
    }
}