/*-----------SELECTOR UNIVERAL-------------------*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*-----------HEADER + BANNER-------------------*/
header {
    background-color: #EAC926;
    width: 100vw;
    max-width: 100%;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.banner {
    max-width: 100%;
    width: 100vw;
}

.burguer-menu {
    text-align: center;
    margin: auto;
}

.burguer-menu i {
    background-color: #03264C;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

/*-----------MAIN SECTION - Basado en tus últimas búsquedas + Ofertas!!-------------------*/
.cada-producto {
    margin: 10px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.informacion-productos {
    background-color: white;
    text-align: left;
    margin: 10px;
}

.informacion-productos p {
    margin-bottom: 10px;
}

main {
    background-color: #ebebeb;
}

.img-producto {
    width: 80%;
    max-width: 100%;
}

.titulares {
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.nombre-producto {
    font-size: 16px;
    font-weight: bold;
}

.camion i {
    color: #39b54a;
    border-radius: 100%;
    border: solid 1px #39b54a;
    padding: 10px;
}



/*---------------FOOTER!-------------------*/
footer {
    text-align: center;
    background-color: #ebebeb;
    padding: 10px;
}

.footer-caja {
    margin-bottom: 10px;
    line-height: 15px;
}

.footer-caja h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-caja i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer p {
    line-height: 18px;
}

.copyright {
    text-align: left;
}

@media (min-width: 361px) {
    .cada-producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (max-width: 320px) {
    .barra-navegacion {
        display: none;
    }
}